{% for share in item.shares %}
{{ share.name | lower }}	-fstype=cifs,credentials=/etc/{{ item.name }}-smb-credentials,file_mode=0750,dir_mode=0750,uid={{ share.uid }},gid={{ share.gid }},noserverino	://{{ item.name }}/{{ share.name }}
{% endfor %}